* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ~~general */
:root {
  --dark: #333;
  --primary: #BE2529;
}

a {
  font-size: 1.6rem;
  color: var(--dark);
  text-decoration: none;

}

body {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.6rem;
  line-height: 2rem;
  color: var(--dark);
  max-width: 1200px;
  margin: 0 auto;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0;
}

p {
  margin: 1rem 0;
}

/* header */
header {
  display: grid;
  grid-template-columns: 1fr auto;
  place-items: center start;
  line-height: 3.5rem;
  margin: 0.5rem 2rem;

}

header a {
  display: block;
  padding: 10px;
}

header li,
a {
  text-decoration: none;
}

.logo {
  font-family: "Staatliches", sans-serif;
  color: var(--dark);
  font-size: 2rem;
}

header a {
  font-family: "Cormorant Garamond", serif;
  display: block;
  padding: 10px;
  font-size: 1rem;
}

/* header{
  display: inline-flex;
} */
header ul {
  display: inline-flex;
  list-style: none;
  font-size: 1rem;
}

header ul li {
  padding: 10px;
}

.btn {
  font-size: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s;
}

.btn-light {
  background: white;
  border: 1px solid var(--primary);
  color: var(--primary);
}

.btn-light:hover {
  background: var(--primary);
  border: 1px solid var(--primary);
  color: white;
}

.text-primary {
  color: var(--primary);
  font-size: 1rem;
}

.text-primary:hover {
  opacity: 0.8;
}

/* & nav */
nav {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background: #fff;

}

nav a {
  font-size: 1rem;
}

/* ^showcase */
.showcase {
  padding: 2rem 0;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
}

img {
  max-width: 100%;
}

h3 {
  font-size: 1.8rem;
}

p {
  margin: 1rem 0;
  font-size: 16px;
  line-height: 1.2;
}

.article-author {
  font-weight: 700;
  font-size: 1.4rem;
}

.text-hint {
  color: var(--gray-hint);
  font-size: 1.2rem;
}

.showcase article:first-child {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}